global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend fe
    mode http
    bind [::]:80 v4v6
    bind [::]:443 v4v6 ssl crt /var/lib/haproxy/certs alpn h2,http/1.1

    filter spoe engine spoe-inspector config /etc/haproxy/spoe.conf
    acl ok var(sess.agent.allowed) -m bool
    acl apache_be var(sess.agent.backend) -m str apache
    use_backend denied if !ok
    use_backend apache if apache_be
    default_backend default

backend default
    http-request return status 200 content-type "text/plain" string "Default page for the haproxy-operator charm"

backend apache
    http-request return status 200 content-type "text/plain" string "You hit the apache backend."

backend denied
    http-request return status 200 content-type "text/html" lf-string "<html><head><title>Denied</title></head><body style='font-family: sans-serif; text-align: center; padding-top: 50px;'><img src='https://tinyurl.com/haprxy' width=500px/><h1>Access Denied</h1><p>Reason: <strong>%[var(sess.agent.reason)]</strong></p></body></html>"

backend spop_agent
    mode tcp
    option spop-check
    timeout connect 5s
    timeout server  1m
    server agent localhost:25159 check
